body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --shador-color: rgb(219, 9, 149, 0.1) 0px 0px 20px;
  --btn-hover: rgb(245, 149, 232);
  --btn-color: rgb(248, 191, 240);
}

.question {
  border-radius: 10px;
  box-shadow: var(--shador-color);
  padding: 1rem;
}

.question-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.btns {
  display: grid;
  grid-template-columns: auto auto;

  gap: 1rem;
}

.button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shador-color);
  background-color: var(--btn-color);
}

button:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

.footer {
  display: flex;
  margin: 2rem 1rem;
  gap: 1rem;
}

#result,
#next {
  box-shadow: var(--shador-color);
}
